In [1]:
import pandas as pd
import numpy as np

In [2]:
# TIMES
rng = pd.date_range('2016 Jul 1', periods = 10, freq = 'D')
rng

DatetimeIndex(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
               '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
               '2016-07-09', '2016-07-10'],
              dtype='datetime64[ns]', freq='D')

In [3]:
# Business Days
rng = pd.date_range('2016 Jul 1', periods = 10, freq = 'B')
rng

DatetimeIndex(['2016-07-01', '2016-07-04', '2016-07-05', '2016-07-06',
               '2016-07-07', '2016-07-08', '2016-07-11', '2016-07-12',
               '2016-07-13', '2016-07-14'],
              dtype='datetime64[ns]', freq='B')

In [4]:
# Start Day 
rng = pd.date_range('2016 Jul 15', '2016 Jul 25', freq = 'H')
rng
# rng = pd.date_range('2016 Jul 15', periods = 29, freq = '8H')
# rng
len(rng)

241

In [5]:
# Which of these formats DON'T work?
#'2016 Jul 1', '7/1/2016', '1/7/2016', 'July 1, 2016', '2016-07-01', '2016/07/01'
# Start Day 
# rng = pd.date_range('2016 Jul 1', periods = 10, freq = 'B')
# rng1 = pd.date_range('7/1/2016', periods = 10, freq = 'M')
rng = pd.date_range('1/7/2016', periods = 10, freq = 'M')
# rng = pd.date_range('July 1, 2016', periods = 10, freq = 'B')
# rng = pd.date_range('2016-07-01', periods = 10, freq = 'B')
# rng = pd.date_range('2016/07/01', periods = 10, freq = 'B')
rng

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31'],
              dtype='datetime64[ns]', freq='M')

* All of them worked except the European time zone'1/7/2016'. For freq = M , it's still looking at Feb, Mar ... American time zone.

In [6]:
# Is '7/1/2016 in January or July?
# It is July as per Amercian time standards.

In [7]:
# TIME STAMPS VS TIME SPANS
pd.Timestamp('2016-07-10')

Timestamp('2016-07-10 00:00:00')

In [8]:
# You can also more details 
pd.Timestamp('2016-07-10 10')

Timestamp('2016-07-10 10:00:00')

In [9]:
# Or even more...
t = pd.Timestamp('2016-07-10 10pm')
t

Timestamp('2016-07-10 22:00:00')

In [10]:
# How much detail can you add
pd.Timestamp('2016-07-10 10:15:15.123456789')
# you can generate nanoseconds.

Timestamp('2016-07-10 10:15:15.123456789')

In [11]:
# What are some properties of timestamps? Try them out.
# hint: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components
t = pd.Timestamp('2016-07-10 10:15')
t.dayofweek
t.day
t.quarter

3

In [12]:
# TIME SPANS
pd.Period('2016-01')

Period('2016-01', 'M')

In [13]:
# What's that extra info above? How does it get set?

In [14]:
pd.Period('2016-01-01')

Period('2016-01-01', 'D')

In [15]:
pd.Period('2016-01-01 10')

Period('2016-01-01 10:00', 'H')

In [16]:
pd.Period('2016-01-01 10:10')

Period('2016-01-01 10:10', 'T')

In [17]:
pd.Period('2016-01-01 10:10:10')

Period('2016-01-01 10:10:10', 'S')

In [18]:
# What's the most detailed Period you can get?
pd.Timestamp('2016-01-01 8:00')+pd.Timedelta('1.5 hours')
pd.Timedelta('15ns')*10000

Timedelta('0 days 00:00:00.000150')

In [19]:
rng

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31'],
              dtype='datetime64[ns]', freq='M')

In [20]:
# How can you make multiple time periods? 
# Hint look for analogy with pd.date_range() above
rng+ pd.Timedelta('1day')

DatetimeIndex(['2016-02-01', '2016-03-01', '2016-04-01', '2016-05-01',
               '2016-06-01', '2016-07-01', '2016-08-01', '2016-09-01',
               '2016-10-01', '2016-11-01'],
              dtype='datetime64[ns]', freq='MS')

In [21]:
# TIME OFFSETS
pd.Timedelta('1 day')

Timedelta('1 days 00:00:00')

In [22]:
pd.Period('2016-01-01 10:10') + pd.Timedelta('1day')

Period('2016-01-02 10:10', 'T')

In [23]:
pd.Timestamp('2016-01-01 10:10') + pd.Timedelta('1 day')

Timestamp('2016-01-02 10:10:00')

In [24]:
pd.Timestamp('2016-01-01 10:10') + pd.Timedelta('15 ns')

Timestamp('2016-01-01 10:10:00.000000015')

In [25]:
# FANCY FREQUENCY SETTING
# Only want business days
pd.period_range('2016-01-01 10:10', freq = 'B', periods = 10)

PeriodIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
             '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
             '2016-01-13', '2016-01-14'],
            dtype='period[B]', freq='B')

In [26]:
# It's possible to combine frequencies. What if you want to advance by 25 hours each day. What are the 2 ways to do it?
#1st method
p1 = pd.period_range('2016-01-01 10:10', freq = '25H', periods = 10)
p1

PeriodIndex(['2016-01-01 10:00', '2016-01-02 11:00', '2016-01-03 12:00',
             '2016-01-04 13:00', '2016-01-05 14:00', '2016-01-06 15:00',
             '2016-01-07 16:00', '2016-01-08 17:00', '2016-01-09 18:00',
             '2016-01-10 19:00'],
            dtype='period[25H]', freq='25H')

In [27]:
# 2nd method
p1 = pd.period_range('2016-01-01 10:10', freq = '1500T', periods = 10)
p1

PeriodIndex(['2016-01-01 10:10', '2016-01-02 11:10', '2016-01-03 12:10',
             '2016-01-04 13:10', '2016-01-05 14:10', '2016-01-06 15:10',
             '2016-01-07 16:10', '2016-01-08 17:10', '2016-01-09 18:10',
             '2016-01-10 19:10'],
            dtype='period[1500T]', freq='1500T')

In [28]:
p2 = pd.period_range('2016-01-01 10:10', freq = '1D1H', periods = 10)
p2

PeriodIndex(['2016-01-01 10:00', '2016-01-02 11:00', '2016-01-03 12:00',
             '2016-01-04 13:00', '2016-01-05 14:00', '2016-01-06 15:00',
             '2016-01-07 16:00', '2016-01-08 17:00', '2016-01-09 18:00',
             '2016-01-10 19:00'],
            dtype='period[25H]', freq='25H')

In [29]:
p = pd.Period('7/2016')
p

Period('2016-07', 'M')

In [30]:
t = pd.Timestamp('7/21/2015','8D')
t

Timestamp('2015-07-21 00:00:00', freq='8D')

In [31]:
p = pd.Period('2016-07-21 10')
p.start_time
p.end_time
p.start_time < t and p.end_time > t

False

In [32]:
# What are some other combos you can produce?
p.year > t.year 

# p.start_time < t and p.end_time > t

# hint: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases

True

In [33]:
# INDEXING WITH TIME OBJECTS
# You can use these objects for indices
# Let's start with using a date range as above
rng = pd.date_range('2016 Jul 1', periods = 10, freq = 'D')
rng
pd.Series(range(len(rng)), index = rng)

2016-07-01    0
2016-07-02    1
2016-07-03    2
2016-07-04    3
2016-07-05    4
2016-07-06    5
2016-07-07    6
2016-07-08    7
2016-07-09    8
2016-07-10    9
Freq: D, dtype: int32

In [34]:
# You can also use time period indices, in cases where it makes more sense 
# to think about your index as a time span rather than a single point in time

periods = [pd.Period('2016-01'), pd.Period('2016-02'), pd.Period('2016-03')]
ts = pd.Series(np.random.randn(len(periods)), index = periods)
ts

2016-01   -0.477116
2016-02    0.613321
2016-03   -1.078927
Freq: M, dtype: float64

In [35]:
# What type is the index for ts?
type(ts.index)

pandas.tseries.period.PeriodIndex

In [36]:
# Experiment with various indices
# Hint: does ts['2016'] work?

In [37]:
# Timestamped data can be convereted to period indices with to_period and vice versa with to_timestamp
ts = pd.Series(range(10), pd.date_range('07-10-16 8:00', periods = 10, freq = 'H'))
ts

2016-07-10 08:00:00    0
2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
2016-07-10 12:00:00    4
2016-07-10 13:00:00    5
2016-07-10 14:00:00    6
2016-07-10 15:00:00    7
2016-07-10 16:00:00    8
2016-07-10 17:00:00    9
Freq: H, dtype: int32

In [38]:
ts_period = ts.to_period()
ts_period

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
2016-07-10 12:00    4
2016-07-10 13:00    5
2016-07-10 14:00    6
2016-07-10 15:00    7
2016-07-10 16:00    8
2016-07-10 17:00    9
Freq: H, dtype: int32

In [39]:
ts_period['2016-07-10 08:30':'2016-07-10 11:45'] # we have the concept of overlap with time periods

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
Freq: H, dtype: int32

In [40]:
ts['2016-07-10 08:30':'2016-07-10 11:45'] # we have the concept of include with timestamps

2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
Freq: H, dtype: int32